*{ 
    margin: 0;
    padding: 0;
  }
  header {
    background: #A0CAF9;
  }
  
  .box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #barra_pesquisa {
  position: absolute;
  width: 300px;
  height: 40px;  
  left: 850px;
  top: 7px;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  background: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  }

  #card {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 80px;
  top: 100px;
  }

  #blocologin {
  position: absolute;
  width: 454px;
  height: 595px;
  left: 838px;
  top: 273px;
  }
  .quadro2 {
  position: absolute;
  width: 450px;
  height: 400px;
  left: 850px;
  top: 150px;
  border-radius: none;
  background: rgba(115, 182, 255, 0.14);
  }

  .form {
    text-align: center;
  
  }

  .login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    margin-top: 10px;
    color: #000000;
  }

  .cpfid {
    width: 300px;
    padding: 10px;
    border: none;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-top: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 24px;
    color: black;
  
  }

  .senhaid {
    width: 300px;
    padding: 10px;
    border: none;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 24px;
    color: black;
  
  }
.enviar {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 125px;
  top: 320px;
  border: 0px;
  cursor: pointer;
  background: rgba(59, 255, 126, 0.49);
  border-radius: 8px;  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  color: #000000;
}

